<!-- Big Heading
================================================== -->
<h2 class="pt-6 pt-md-8 font-weight-bold">
  Big heading for a new topic
</h2>

<!-- Small Heading
================================================== -->
<h3 class="pt-4 pt-md-6 font-weight-bold">
  Small heading for a smaller transition
</h3>

<!-- Bullet List
================================================== -->
<ul class="mb-0">
  <li>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptatem nihil labore, recusandae, at nobis cumque repellendus saepe maiores aperiam fuga vel tenetur placeat. Officia, natus, cupiditate! Natus facere, explicabo?
  </li>
  <li class="mt-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio dolorem modi corrupti excepturi quo enim odit deserunt culpa blanditiis quidem doloribus, iusto aspernatur quisquam quod numquam consequatur asperiores? Sint, dolor!
  </li>
</ul>

<!-- Blockquote
================================================== -->
<hr class="hr-md mb-7">
<blockquote class="blockquote mb-7">
  <p class="h2 mb-0 text-center text-primary-desat">
    “So many teams struggle to make their onboarding experience anywhere near as good as their core product, so the results of this is poor retention”
  </p>
</blockquote>
<hr class="hr-md mb-7">

<!-- Check List
================================================== -->
<ul class="list-unstyled my-6">
  <li class="d-flex">
    <!-- Check -->
    <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4"><i class="fe fe-check"></i></div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quo labore, deleniti optio non, voluptate illo doloribus odio iure molestiae eos tempora nobis.
    </p>
  </li>
  <li class="d-flex">
    <!-- Check -->
    <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4"><i class="fe fe-check"></i></div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quo labore, deleniti optio non, voluptate illo doloribus odio iure molestiae eos tempora nobis.
    </p>
  </li>
  <li class="d-flex">
    <!-- Check -->
    <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4"><i class="fe fe-check"></i></div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quo labore, deleniti optio non, voluptate illo doloribus odio iure molestiae eos tempora nobis.
    </p>
  </li>
</ul>

<!-- Grid
================================================== -->
<div class="form-row mb-8">
  <div class="col-6">
    <!-- Image -->
    <a class="d-block lift lift-lg" data-fancybox data-width="1280" data-height="1920" href="assets/img/covers/cover-15.jpg">
      <img src="@@webRoot/assets/img/covers/cover-15.jpg" alt="..." class="img-fluid rounded">
    </a>
  </div>
  <div class="col-6">
    <!-- Image -->
    <a class="d-block mb-4 lift lift-lg" data-fancybox data-width="900" data-height="600" href="assets/img/photos/photo-29.jpg">
      <img src="@@webRoot/assets/img/photos/photo-29.jpg" alt="..." class="img-fluid rounded">
    </a>
    <!-- Image -->
    <a class="d-block lift lift-lg" data-fancybox data-width="900" data-height="600" href="assets/img/photos/photo-30.jpg">
      <img src="@@webRoot/assets/img/photos/photo-30.jpg" alt="..." class="img-fluid rounded">
    </a>
  </div>
</div>