<!-- Signup: Horizontal  ================================================== -->
<div class="modal fade" id="modalSignupHorizontal" tabindex="-1" role="dialog" aria-labelledby="modalSignupHorizontalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card card-row">
        <div class="row no-gutters">
          <div class="col-12 col-md-6 bg-cover card-img-left" style="background-image: url(@@webRoot/assets/img/photos/photo-8.jpg);">

            <!-- Image (placeholder) -->
            <img src="@@webRoot/assets/img/photos/photo-8.jpg" alt="..." class="img-fluid d-md-none invisible">

            <!-- Shape -->
            <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
              @@include("../assets/img/shapes/curves/curve-4.svg")
            </div>

          </div>
          <div class="col-12 col-md-6">
            <div class="card-body">

              <!-- Close -->
              <button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>

              <!-- Heading -->
              <h2 class="mb-0 font-weight-bold text-center" id="modalSignupHorizontalTitle">
                Request Trial Access
              </h2>

              <!-- Text -->
              <p class="mb-6 text-center text-muted">
                We are devoted to help you succeed.
              </p>

              <form>
                <div class="row">
                  <div class="col-12 col-md-6">

                    <!-- First name -->
                    <div class="form-label-group">
                      <input type="text" class="form-control form-control-flush" id="name" placeholder="Name">
                      <label for="registrationFirstName">Name</label>
                    </div>

                  </div>
                  <div class="col-12 col-md-6">

                    <!-- Last name -->
                    <div class="form-label-group">
                      <input type="text" class="form-control form-control-flush" id="role" placeholder="Role">
                      <label for="registrationRole">Role</label>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">

                    <!-- First name -->
                    <div class="form-label-group">
                      <input type="text" class="form-control form-control-flush" id="company" placeholder="Company">
                      <label for="registrationCompany">Company</label>
                    </div>

                  </div>
                  <div class="col-12 col-md-6">
                    <!-- Last name -->
                    <div class="form-label-group">
                      <input type="text" class="form-control form-control-flush" id="reason" placeholder="Why">
                      <label for="registrationReason">Why Cooby?</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">

                    <!-- Email -->
                    <div class="form-label-group">
                      <input type="email" class="form-control form-control-flush" id="email" placeholder="Email">
                      <label for="registrationEmail">Email</label>
                    </div>

                  </div>
                  <div class="col-12 col-md-6">

                    <!-- Password -->
                    <div class="form-label-group">
                      <input type="phone" class="form-control form-control-flush" id="phone" placeholder="WhatsApp number">
                      <label for="registrationPhone">WhatsApp number</label>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-12">

                    <!-- Submit -->
                    <button class="btn btn-block btn-primary mt-3 lift" data-toggle="modal" href="#modalSignupHorizontal">
                      Submit
                    </button>

                  </div>
                </div>
              </form>


              <!-- Text -->
              <p class="mb-0 font-size-sm text-center text-muted">
                Already have an account? <a href="https://cooby.app.link/SqNxlEma8db?utm_content=signup_modal">Log in</a>.
              </p>

            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div>
  </div>
</div>
