<!-- Signup: Horizontal  ================================================== -->
<div class="modal fade" id="modalSignupHorizontal" tabindex="-1" role="dialog" aria-labelledby="modalSignupHorizontalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card card-row">
        <div class="row">
          <div class="col-12 col-md-5 bg-cover card-body bg-cooby-light-gray">
            <h6 class="text-uppercase text-primary font-weight-bold">
              Try It Yourself
            </h6>
            <h1 class="font-weight-bold">
              See the full picture in our 7-day free trial
            </h1>
            <!-- Text -->
            <p class="font-weight-bold mb-6 mb-md-0">
              Trusted by over <span data-toggle="countup" data-from="0" data-to="2000" data-aos data-aos-id="countup:in">0</span> salespeople worldwide.
            </p>
            <div style="margin-top:5px;">
              <img src="assets/img/brands/customers/taiwan_insurance.png" class="brand-logo">
              <img src="assets/img/brands/customers/cathy.png" class="brand-logo">
              <img src="assets/img/brands/customers/nan-shan.png" class="brand-logo">
            </div>
            <ul class="list-group">
              <li class="compressed-list bg-cooby-light-gray" style="list-style: none; margin:30px auto 10px 0;">
                  <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                  </div>
                  No credit required</li>
              <li class="compressed-list bg-cooby-light-gray" style="list-style: none; margin:0 auto 10px 0;">
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                  </div>
                  Automate your workflows</li>
              <li class="compressed-list bg-cooby-light-gray" style="list-style: none;">
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                  <i class="fe fe-check"></i>
                  </div>
                  Build stronger sales relationships</li>
            </ul>
            <p class="mt-6 mb-6 mb-md-0">
              Questions? Submit the form and we'll be in touch.
            </p>

            <!-- Shape -->
            <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
              @@include("../assets/img/shapes/curves/curve-4.svg")
            </div>

          </div>
          <div class="col-12 col-md-7">
            <div class="card-body" style="text-align:center;">

              <!-- Close -->
              <button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>

              <!-- Heading -->
              <h2 class="mb-0 font-weight-bold text-center" id="modalSignupHorizontalTitle">
                Request Trial Access
              </h2>

              <!-- Text -->
              <p class="mb-6 text-center text-muted">
                We are devoted to help you succeed.
              </p>

              <form id="signup_form">
                <div class="row">
                  <div class="col-12 col-md-6">

                    <!-- First name -->
                    <div class="form-label-group">
                      <input type="text" class="form-control form-control-flush" name="name" placeholder="Name">
                      <label for="registrationFirstName">Name</label>
                    </div>

                  </div>
                  <div class="col-12 col-md-6">

                    <!-- Last name -->
                    <div class="form-label-group">
                      <input type="text" class="form-control form-control-flush" name="title" placeholder="Title">
                      <label for="registrationRole">Title</label>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">

                    <!-- First name -->
                    <div class="form-label-group">
                      <input type="text" class="form-control form-control-flush" name="company" placeholder="Company">
                      <label for="registrationCompany">Company</label>
                    </div>

                  </div>
                  <div class="col-12 col-md-6">
                    <!-- Last name -->
                    <div class="form-label-group">
                      <select class="form-control form-select custom-select" aria-label="Why Cooby?" name="motivation">
                        <option selected>Why Cooby?</option>
                        <option value="Organize and tag clients">Organize and tag clients</option>
                        <option value="Import information from WhatsApp">Import information from WhatsApp</option>
                        <option value="Connect with clients periodically">Connect with clients periodically</option>
                        <option value="Track client-related tasks">Track client-related tasks</option>
                        <option value="Take client notes">Take client notes</option>
                        <option value="Others">Others</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">

                    <!-- Email -->
                    <div class="form-label-group">
                      <input type="email" class="form-control form-control-flush" name="email" placeholder="Email">
                      <label for="registrationEmail">Email</label>
                    </div>

                  </div>
                  <div class="col-12 col-md-6">

                    <!-- Password -->
                    <div class="form-label-group">
                      <input type="phone" class="form-control form-control-flush" name="phone" placeholder="WhatsApp number">
                      <label for="registrationPhone">WhatsApp number</label>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-12">

                    <!-- Submit -->
                    <button class="btn btn-primary mt-3 lift">
                      Submit
                    </button>

                  </div>
                </div>
              </form>


              <!-- Text -->
              <p class="mb-0 font-size-sm text-center text-muted">
                Already have an account? <a href="https://cooby.app.link/SqNxlEma8db?utm_content=signup_modal">Log in</a>.
              </p>

            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div>
  </div>
</div>
